body{
  margin: 0;
}

.single-item_container{
  text-align: center;
  display: flex;
}

.alt-image_container{
  width: 42px;
  display: flex;
  flex-direction: column;
}
.alt-image{
  width: 40px;
  border: 1px solid #a2a6ac;
  border-radius: 2px;
  height: 40px;
  cursor: pointer;

}
.selected{
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, .5);
  outline: 0;
}
.alt-image{
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  object-fit: cover;
}
.alt-image_last{
  width: 40px;
  height: 40px;
}
.main-image_container{
  padding-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-image{
  max-width: 565px;
  max-height: 471px;
  object-fit: cover;

}

.modal{
  position: absolute;
  top:150px;
  left: 650px;
  overflow: hidden;
  background-color: white;
  z-index: 199;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 8px 2px;
  border: 1px solid rgb(148,148,148);
  max-width: 520px;
  max-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modal > img{
  display: block;
  position: relative;
}

#mags{
  background-image:url('https://images-na.ssl-images-amazon.com/images/G/01/apparel/rcxgs/tile._CB483');
  cursor: pointer;
  width: 227px;
  height: 110px;
  position: absolute;
}
.none{
  display: none;
}
.block{
  display: block;
}